page-about {
	.butterMilk{

		background: #FAEFD4
	}


	.stone{

		background: #688B8A
	}

	.sage{

		background: #A08084
	}

	.pink{
		background: #e8bdc4
	}

}
$colors: (


primary:    #387ef5,
secondary:  #32db64,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222,
twitter:(
  base: #55acee,
  contrast: #ffffff
  )
);
