<ion-header>

  <ion-navbar color = "greenish">
    <ion-title>Sell</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "butterMilk">

  <ion-item class = "butterMilk">
    <ion-input id = "name" type = "text" placeholder="Book Name" name = "name" [(ngModel)]="bookCred.name"></ion-input>
  </ion-item>

  <ion-item class = "butterMilk">
    <ion-input id = "class" type="text" placeholder="Class Name" name="class" [(ngModel)]="bookCred.class"></ion-input>
  </ion-item>

  <ion-item class = "butterMilk">
    <ion-label floating>Price</ion-label>
    <ion-input id = "price" type="number" name = "price" [(ngModel)] = "bookCred.price"></ion-input>
  </ion-item>

  <ion-item class = "butterMilk">
    <ion-label floating>Contact</ion-label>
    <ion-input id = "email" type="email" name = "email" [(ngModel)] = "bookCred.email"></ion-input>
  </ion-item>

  <ion-item class = "butterMilk">
    <ion-label floating>Description</ion-label>
    <ion-input id = "desc" type="text" name = "description" [(ngModel)] = "bookCred.desc"></ion-input>
  </ion-item>

  <p *ngFor="let book of books">
		{{book}}
	</p>

  <div padding>
  <button ion-button class = "stone"  (click)="save(bookCred)" block>Create Posting</button>
  <ion-content class="has-header">
  <ion-list *ngFor="let book of books" no-lines>
    <ion-item>Title: {{ book.name }}</ion-item>
    <ion-item>Class: {{ book.class }}</ion-item>
  </ion-list>
</ion-content>
</div>


</ion-content>
